@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Russo One', sans-serif;
    
}


.big-wrap {
    margin-top: 100px;
    width: 100%;
    
}

.container {
    text-align: center;
}



.link-div, .content-div, .footer-div {
    min-width: 270px;
    height: 450px;
}


ul {
    list-style-type: none;
} 

li {
	color: black;
	border: 1px solid white;
	padding: 10px;
	margin: auto;
  }
li a {
	color: black;

}

li a:hover{
	color: white;
}
li:hover {
	color: white !important;
	transform: rotate(7.5deg);
	
	}

.social-wrapper {
	padding: 10px;
}

.link-wrapper {
    width: 95.5%;
    margin: auto;
    text-align: left;
}


.sqaure-div {
    position: relative;
    margin-top: 2px;
    overflow: hidden;
    z-index: 0;
    
}
.sqaure-div::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: 10%;
    top: -100%;
    width: 80%;
    height: 300%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image:linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    animation: rotate 10s linear infinite;
}
      
.sqaure-div::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background-color: rgb(218, 214, 214);
    border-radius: 5px;
}
          
@-webkit-keyframes rotate {
    100% {
        transform: rotate(1turn)
    }
}

@keyframes rotate {
    100% {
        transform: rotate(1turn)
         }
}

#portfolioBtn, #whoamiBtn, #contactBtn, #currentBtn {
    color: rgb(218, 214, 214);
    padding: 10px;
    background-color: black;
    display: block;
            
}
        
#portfolioBtn>span:hover, #whoamiBtn>span:hover, #contactBtn>span:hover, #currentBtn>span:hover {
    cursor: pointer;
}


.content-div {
    position: relative;
    z-index: 0;
    border-radius: 10px;
    /* overflow: hidden; */
    width: 280px;
    height: 450px;
    background-color: black !important;
    color: rgb(218, 214, 214);
    margin-top: 122px;
    text-align: center;
}
.content-div::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    border: none;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(rgb(218, 214, 214),rgb(218, 214, 214));
    animation: rotate 15s linear infinite;
}
                
.content-div::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: black;
    border-radius: 5px;
        }

@media (max-width: 575px) {
    .big-wrap {
        margin-top: 20px;
    }
    .content-div {
        margin-top: 0;
    }
}

.content-section {
    font-size: 12px;
    width: 95%;
    margin: auto;
    background-color: black;
}

#whoami, #contact, #current {
	font-size: 18px;
	margin-top: 15px;
	display: none;
}

#portfolio {
	font-size: 17px;
	margin-top: 15px;
}